.weather-wrapper {
  background-color: #fff;
  background-image: url("https://www.animatedimages.org/templates/gifstheme/assets/images/signature-header.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: auto;
}
.weather {
  position: absolute;
  left: 50%;
  top: 20%;
}
.weather-content {
  backdrop-filter: blur(30px);
  max-width: 400px;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 5rem;
  border-radius: 5rem;
  background-color: rgba(62, 135, 207, 0.4);
}

.weather-rain {
  background-color: rgba(9, 109, 209, 0.4);
}
.weather-clouds {
  background-color: rgba(62, 135, 207, 0.4);
}
.weather-sun {
  background-color: rgba(197, 183, 127, 0.4);
}
.weather_item {
  list-style: none;
  color: rgb(85, 83, 83);
  font-size: 2rem;
  text-align: center;
}
.weather_time {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.weather_date {
  font-size: 1rem;
}
.weather_name {
  margin-top: 2rem;
}
.weather_deg {
  font-size: 2.5rem;
}
.weather_min_max {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
