.main-weather_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-weather_item {
  list-style: none;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}
.icon {
  color: #fff;
}
