.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 83, 151);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.header__img {
  padding: 0.5rem 1rem;
}
.header-list {
  display: flex;
}
.header__item {
  list-style: none;
  padding: 0.5rem 1rem;
}
.header__link {
  text-decoration: none;
  color: #fff;
}
.header_icon {
  color: #fff;
}
.header_icon:hover {
  color: rgb(232, 99, 10);
}
.header__active {
  color: rgb(232, 99, 10);
  transform: scale(1.5);
}
